{% extends "index.html" %}
{% block content %}
<div class="container">
    <h3>DotA Ranking List</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Player Id</th>
            <th scope="col">Player Name</th>
            <th scope="col">Points</th>
            <th scope="col">Games Played</th>
            <th scope="col">Player Rating</th>
        </tr>
        </thead>
        <tbody>
        {% for item in ranked_list %}
        <tr>
            <td> {{item.player_id}}</td>
            <td>
                <img src={{ item.img_url }} width="30" height="30">
                &nbsp;&nbsp;&nbsp;
                {{ item.player_name }}
            </td>
            <td>
                {{ item.score }}
            </td>
            <td>
                {{ item.games_played }}
            </td>
            <td>
                {{ item.player_rating }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
